html{
	background-image: url(https://unsplash.com/photos/WdBQHcIiSIw/download);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
}
#container{

}
body{
	font-family: "Comfortaa", cursive;
	text-align: center;
	color: #000000;
	text-shadow: 0em .2em .2em #FFFFFF;
}
h1{
	font-size: 3em;

}
h2{
	font-size: 1.5em;
}
p{
	font-size: 2em;
}
input, button{
  background: transparent;
  border: none;
  font-size: 1.5em;
  text-Shadow: 0em .2em .2em #FFFFFF;
  color: #000000;
  font-Family: "Comfortaa", cursive;
}
input:hover{
  text-Shadow: 0em .2em .2em #0000FF;
}
input:focus{
  text-Shadow: 0em .2em .2em #0000FF;
  outline: none;
}
#submit{
  border-color: #000000;
  border-style: solid;
  border-radius: .1em;
}
#submit:hover{
  background-color: #0000FF;
}
#submit:focus{
  background-color: green;
  outline: none;
}
